<form class="new-comment" action="/comments" method="POST">
	<div class="form-group"> 
		<input type="text" id="text" placeholder="Comment">
	</div>
	<input type="hidden" id="post_id" value="<%= post.id %>"> 
	<div class="form-group">
		<button class="button" type="submit">Submit</button>
	</div>
</form> 
